@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista Telefônica</h1>
    <button style="background-color: #007bff; border: none; padding: 10px 20px; color: white; font-size: 16px;">
        <a asp-controller="Contato" asp-action="Index" style="color: white; text-decoration: none;">Abrir Lista de contatos</a>
    </button>
</div>